# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules


# Ignore files related to API keys
.env

# Ignore files related to build
data

#Ignore pycache
__pycache__

# Ignore files related to index stores from llama index
covid_indexed

